@import "https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600&display=swap";
.mobile-menu {
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: #0000004d;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999 !important;
  opacity: 0;
  box-shadow: 0 29px 80px #0000004d;
  transition: all 0.3s ease;
  transform: translate(-100vw);
}
.mobile-menu-container {
  width: 60vw;
  height: 100vh;
  background-color: #342864;
  padding: 2rem;
}
.mobile-menu.active {
  opacity: 1;
  transform: translate(0);
}
*/ .mobile-menu.active {
  margin-bottom: 3rem;
}
.mobile-menu ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  margin-left: -2rem;
}
@media (max-width: 769px) {
  .mobile-menu {
    display: block;
  }
}
.head {
  font-style: normal;
  font-family: Courier New, Courier, monospace;
  font-size: 33px;
  width: 15rem;
  height: auto;
  color: #f0f8ff;
}
.nav-wrapper {
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 30;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  opacity: 90%;
}
.nav-content {
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 0 auto;
}
.nav-content ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}
.nav-content li {
  margin: 0 1.5rem;
}
.menu-item {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  position: relative;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu-item1 {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  position: relative;
  cursor: pointer;
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu-item:before {
  content: "";
  width: 2rem;
  height: 0.2rem;
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.6rem;
  opacity: 0;
  transform: translate(-1.5rem);
  transition: all 0.3s ease;
}
.menu-item:hover:before {
  width: 100%;
  transform: translate(0);
  opacity: 1;
}
.contact-btn {
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
  padding: 0.6rem 2rem;
  border: none;
  outline: 1.5px solid transparent;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3 ease;
}
.contact-btn:hover {
  color: #a993fe;
  background: #000;
  outline: 1.5px solid #a993fe;
}
.menu-btn {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  background: linear-gradient(90deg, #a993fe -0.13%, 1#7e61e7 99.87%);
  line-height: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  display: none;
}
.menu-btn:hover {
  color: #a993fe;
  background: #ffffff;
  border: 1px solid #a993fe;
}
@media (max-width: 425px) {
  .header {
    width: 10rem;
    height: auto;
  }
}
@media (max-width: 769px) {
  .menu-btn {
    display: block;
  }
  .nav-content ul {
    display: none;
  }
}
@media (max-width: 1325px) {
  .nav-wrapper {
    padding: 0 2rem;
  }
}
#home,
#skills,
#project {
  scroll-margin-top: 200px;
}
#about {
  scroll-margin-top: 100px;
}
.container {
  max-width: 1000px;
  margin: auto;
  padding-top: calc((100vh - 730px) / 2);
  padding-bottom: calc((100vh - 730px) / 2 + 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  text-align: center;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}
h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 20px;
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
section {
  flex-basis: 48%;
  margin-bottom: 20px;
}
button {
  padding: 12px 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #a993fe;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px;
}
button:hover {
  background-color: #a993fe;
}
#resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume-link {
  margin-top: 20px;
  font-size: 1.1rem;
  text-decoration: none;
  color: #007bff;
}
.resume-link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  button {
    width: calc(50% - 40px);
  }
}
@media screen and (max-width: 450px) {
  button {
    width: calc(100% - 40px);
  }
}
.skills-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.skills-content {
  text-align: center;
}
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.skill {
  margin-bottom: 30px;
}
h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.skills {
  text-align: center;
}
.skills-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill-category {
  margin: 20px;
}
.skill-category h3 {
  margin-bottom: 10px;
}
.skill-category img {
  width: 60px;
  height: 60px;
  margin-right: 50px;
}
.projects {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 1000px;
}
.card-scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
}
.card-deck {
  display: inline-flex;
  gap: 20px;
  padding: 0 10px;
}
.card {
  flex: 0 0 auto;
  padding: 20px;
  margin: 0;
  box-shadow: 0 4px 6px #0000001a;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.card-title {
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
}
.card a {
  text-decoration: none;
}
.about-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}
.heading {
  margin-top: 20px;
  margin-bottom: 10px;
}
.content {
  margin-bottom: 20px;
}
.about-container {
  width: 80%;
  margin: auto;
}
.content {
  text-align: justify;
}
.floating-social-media-links {
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.icon-container a {
  padding: 10px;
}
.floating-social-media-links svg {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}
.floating-social-media-links.open svg {
  transform: scale(1);
}
.floating-social-media-links.closed svg {
  transform: scale(0);
}
@media only screen and (max-width: 767px) {
  .icon-container {
    padding: 5px;
  }
  .icon-container a {
    padding: 0;
  }
  .floating-social-media-links svg {
    width: 30px;
    height: 30px;
  }
}
.footer {
  background-color: #8a2be2;
  color: #000;
  padding: 20px 0;
  text-align: center;
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}
.footer-content p {
  margin-bottom: 10px;
}
p {
  color: #fff;
}
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: #060417;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
